header {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%; }
  header > .container {
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px; }
    header > .container > nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 48px;
      font-weight: 300;
      font-size: 1em; }
      @media (max-width: 569px) {
        header > .container > nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 16px; } }
      header > .container > nav > a {
        position: relative;
        padding: 16px 0px; }
        header > .container > nav > a:hover:after {
          width: 100%; }
        header > .container > nav > a:after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          background-color: #f2f2f2;
          -webkit-transition: 0.4s ease width;
          transition: 0.4s ease width; }
    header > .container > .logo {
      font-size: 1.2em;
      font-weight: 500; }
  @media (max-width: 569px) {
    header {
      font-size: 12px; } }

section.hero {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%;
  padding-top: 48px;
  min-height: calc(100vh - 56px); }
  @media (max-width: 569px) {
    section.hero {
      min-height: calc(100vh - 50px); } }
  section.hero > .container {
    width: 100%;
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px; }
    section.hero > .container > .hero-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
      section.hero > .container > .hero-text > .main-text > span {
        font-weight: 300; }
        section.hero > .container > .hero-text > .main-text > span > i {
          margin-right: 8px; }
      section.hero > .container > .hero-text > .main-text > h1 {
        margin-top: 16px;
        font-weight: 500;
        font-size: 2.988em;
        text-transform: uppercase; }
        @media (max-width: 992px) {
          section.hero > .container > .hero-text > .main-text > h1 {
            font-size: 2.48rem; } }
      section.hero > .container > .hero-text > .about-me {
        max-width: 500px;
        text-transform: capitalize;
        -ms-flex-item-align: end;
            align-self: flex-end;
        text-align: right;
        font-weight: 300;
        color: #ddd; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 24px; } }
    section.hero > .container > .hero-img {
      width: 100%;
      height: 600px;
      background: url("../images/Home-Page/hero-img.webp") no-repeat center center;
      background-size: cover;
      border-radius: 16px;
      position: relative; }
      section.hero > .container > .hero-img:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: #161616;
        opacity: 0.7; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-img {
          height: 400px; } }

section.stats {
  background-color: #161616;
  color: #f2f2f2; }
  section.stats > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 180px));
    gap: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 769px) {
      section.stats > .container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    section.stats > .container > div {
      font-size: 1.2rem;
      font-weight: 300; }
      @media (max-width: 769px) {
        section.stats > .container > div {
          text-align: center; } }
      section.stats > .container > div > span {
        font-size: 2.9rem;
        font-weight: 600;
        display: block; }

section.tetimonials {
  color: #f2f2f2;
  background-color: #323232; }
  @media (max-width: 996px) {
    section.tetimonials {
      font-size: 12px; } }
  section.tetimonials > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px; }
    @media (max-width: 996px) {
      section.tetimonials > .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: fle-start;
            -ms-flex-pack: fle-start;
                justify-content: fle-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 32px; } }
    section.tetimonials > .container > .text {
      max-width: 700px; }
      @media (max-width: 996px) {
        section.tetimonials > .container > .text {
          text-align: center; } }
      section.tetimonials > .container > .text > .title {
        color: darkgray;
        font-weight: 300;
        font-style: italic;
        font-size: 1.44em; }
      section.tetimonials > .container > .text > p {
        font-weight: 500;
        font-size: 2.078em;
        line-height: 1.2;
        margin: 16px 0px;
        text-transform: capitalize; }
    section.tetimonials > .container > img {
      border-radius: 50%;
      max-width: 200px;
      aspect-ratio: 1/1; }

section.services {
  background-color: #161616;
  color: #f2f2f2; }
  @media (max-width: 996px) {
    section.services {
      font-size: 12px; } }
  section.services > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px; }
    section.services > .container > .services {
      padding: 16px 0px 48px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      gap: 48px;
      margin-top: 16px;
      width: 100%;
      font-size: 1.78em;
      font-weight: 300;
      position: relative; }
      @media (max-width: 769px) {
        section.services > .container > .services {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      section.services > .container > .services:after {
        content: "";
        opacity: 0.4;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: #f2f2f2; }
      section.services > .container > .services > div {
        width: calc((100% - 48px * 2) / 3);
        padding: 8px 0px;
        position: relative;
        cursor: pointer;
        -webkit-transition: 0.7s ease-in-out padding;
        transition: 0.7s ease-in-out padding; }
        @media (max-width: 769px) {
          section.services > .container > .services > div {
            width: 100%; } }
        section.services > .container > .services > div > i {
          margin-right: 8px; }
        section.services > .container > .services > div:after {
          font-family: "Font Awesome 6 Free";
          content: "\f061";
          font-weight: 900;
          font-size: 12px;
          position: absolute;
          right: 20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: 0.7s ease-in-out transform;
          transition: 0.7s ease-in-out transform; }
        section.services > .container > .services > div:hover {
          padding: 8px 16px; }
        section.services > .container > .services > div:hover:after {
          -webkit-transform: translate(-16px, -50%);
                  transform: translate(-16px, -50%); }
    section.services > .container > span {
      color: darkgray;
      font-weight: 300;
      font-style: italic;
      font-size: 1.44em; }

section.my-work {
  background-color: #161616;
  color: #f2f2f2; }
  @media (max-width: 996px) {
    section.my-work {
      font-size: 12px; } }
  section.my-work > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0px; }
    section.my-work > .container > span {
      color: darkgray;
      font-weight: 300;
      font-style: italic;
      font-size: 1.44em; }
    section.my-work > .container > .projects {
      margin: 24px 0px;
      display: grid;
      grid-gap: 48px;
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); }
      @media (max-width: 992px) {
        section.my-work > .container > .projects {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } }
      section.my-work > .container > .projects > div {
        aspect-ratio: 16/9;
        background-color: #f2f2f2;
        border-radius: 16px;
        opacity: 0.8;
        cursor: pointer;
        position: relative;
        z-index: 1;
        -webkit-transition: 0.7s ease-in-out opacity;
        transition: 0.7s ease-in-out opacity; }
        section.my-work > .container > .projects > div:hover {
          opacity: 0.3; }
      section.my-work > .container > .projects > div:nth-child(1) {
        background: url("../images/Home-Page/project-1.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(2) {
        background: url("../images/Home-Page/project-2.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(3) {
        background: url("../images/Home-Page/project-3.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(4) {
        background: url("../images/Home-Page/project-4.webp") no-repeat center center;
        background-size: cover; }
    section.my-work > .container > a {
      font-size: 1rem;
      -ms-flex-item-align: center;
          align-self: center; }
      section.my-work > .container > a > i {
        margin-top: 16px;
        margin-left: 8px; }

footer {
  background-color: #323232;
  color: #f2f2f2;
  padding: 48px 0px; }
  @media (max-width: 992px) {
    footer {
      font-size: 14px; } }
  footer > .container {
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px; }
    @media (max-width: 992px) {
      footer > .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 992px) {
      footer > .container > div {
        width: 100%; } }
    footer > .container > .slogan > h1 {
      font-size: 1.44rem;
      padding: 8px 0px;
      border-bottom: 1px #f2f2f2 solid; }
    footer > .container > .slogan p {
      padding: 8px 0px;
      font-weight: 300; }
    footer > .container > .our-community {
      background-color: #101010;
      border-radius: 8px;
      padding: 24px; }
      footer > .container > .our-community input {
        width: auto;
        margin-top: 24px;
        background-color: transparent;
        border-radius: #f4f4f4 1px solid;
        padding: 8px 4px;
        border-radius: 4px; }
      footer > .container > .our-community button {
        background-color: #000000;
        padding: 8px 16px;
        border-radius: 8px; }
        @media (max-width: 769px) {
          footer > .container > .our-community button {
            margin-top: 16px;
            width: 100%; } }

header.projects-header {
  background-color: #323232; }

main {
  background-color: #161616;
  color: #f2f2f2;
  height: auto;
  padding: 64px 0px; }
  @media (max-width: 769px) {
    main {
      font-size: 12px; } }
  main > .container {
    margin: auto;
    padding: 0px 32px; }
    main > .container > .title {
      width: 100%;
      font-size: 2.98em;
      font-weight: 600;
      padding: 16px 0px;
      position: relative; }
      main > .container > .title:after {
        content: "";
        opacity: 0.4;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: #f2f2f2; }
    main > .container > .filter {
      width: 100%;
      padding: 32px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
      @media (max-width: 560px) {
        main > .container > .filter {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      main > .container > .filter > span {
        font-weight: 300;
        font-size: 1.2rem; }
      main > .container > .filter > div > input {
        background-color: transparent;
        color: #323232;
        border-radius: 8px;
        padding: 4px 8px;
        border: 1px #323232 solid;
        font-weight: 300;
        font-size: 0.8rem; }
      main > .container > .filter > select {
        background-color: transparent;
        color: #f2f2f2;
        border-radius: 8px;
        padding: 4px 8px;
        border: 1px #323232 solid;
        font-weight: 300;
        font-size: 0.8rem; }
        main > .container > .filter > select > option {
          background-color: #161616;
          color: #f2f2f2; }
    main > .container > .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 24px;
      padding: 32px 0px; }
      main > .container > .projects > div {
        background-color: #323232;
        padding: 16px;
        border-radius: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 16px; }
        main > .container > .projects > div > img {
          max-width: calc(100% + 32px) !important;
          translate: -16px;
          aspect-ratio: 4/3;
          border-radius: 8px; }
        main > .container > .projects > div > h1 {
          font-weight: 600;
          font-size: 1.2rem; }
        main > .container > .projects > div > p {
          font-size: 0.75rem; }
        main > .container > .projects > div > a {
          background-color: #000000;
          padding: 4px 8px;
          border-radius: 4px; }

section.profile {
  background-color: #161616;
  color: #f2f2f2;
  padding: 64px 0px;
  position: relative;
  z-index: 1; }
  section.profile > .profile-banner {
    width: 100%;
    height: 30vh;
    background: url("../images/Profile-Page/profile-banner.webp") no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; }
  section.profile > .container {
    margin: auto;
    padding: 0px 32px; }
    section.profile > .container > .profile-card {
      background-color: #323232;
      border-radius: 8px;
      padding: 32px;
      max-width: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 32px; }
      section.profile > .container > .profile-card > .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 8px;
        width: 100%; }
        section.profile > .container > .profile-card > .info > img {
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          -o-object-fit: cover;
             object-fit: cover;
          max-width: 100px;
          margin-bottom: 8px; }
        section.profile > .container > .profile-card > .info > span {
          font-weight: 500; }
        section.profile > .container > .profile-card > .info > p {
          font-weight: 300;
          font-size: 0.8rem;
          color: #eee; }
        section.profile > .container > .profile-card > .info > button {
          width: 100%;
          background-color: #000;
          padding: 8px 16px;
          border-radius: 8px;
          margin-top: 8px; }
      section.profile > .container > .profile-card > .stats {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        gap: 8px;
        font-weight: 500; }
        section.profile > .container > .profile-card > .stats > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 8px; }
      section.profile > .container > .profile-card > .about-me {
        font-weight: 300;
        font-size: 0.8rem; }
        section.profile > .container > .profile-card > .about-me > span {
          font-weight: 500;
          display: block;
          margin-bottom: 8px; }

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px; }

*:focus {
  outline: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh; }
