header {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%; }
  header > .container {
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px; }
    header > .container > nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 48px;
      font-weight: 300;
      font-size: 1em; }
      @media (max-width: 569px) {
        header > .container > nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 16px; } }
      header > .container > nav > a {
        position: relative;
        padding: 16px 0px; }
        header > .container > nav > a:hover:after {
          width: 100%; }
        header > .container > nav > a:after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          background-color: #f2f2f2;
          -webkit-transition: 0.4s ease width;
          transition: 0.4s ease width; }
    header > .container > .logo {
      font-size: 1.2em;
      font-weight: 500; }
  @media (max-width: 569px) {
    header {
      font-size: 12px; } }

section.hero {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%;
  padding-top: 48px;
  min-height: calc(100vh - 56px); }
  @media (max-width: 569px) {
    section.hero {
      min-height: calc(100vh - 50px); } }
  section.hero > .container {
    width: 100%;
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px; }
    section.hero > .container > .hero-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
      section.hero > .container > .hero-text > .main-text > span {
        font-weight: 300; }
        section.hero > .container > .hero-text > .main-text > span > i {
          margin-right: 8px; }
      section.hero > .container > .hero-text > .main-text > h1 {
        margin-top: 16px;
        font-weight: 500;
        font-size: 2.988em;
        text-transform: uppercase; }
        @media (max-width: 992px) {
          section.hero > .container > .hero-text > .main-text > h1 {
            font-size: 2.48rem; } }
      section.hero > .container > .hero-text > .about-me {
        max-width: 500px;
        text-transform: capitalize;
        -ms-flex-item-align: end;
            align-self: flex-end;
        text-align: right;
        font-weight: 300;
        color: #ddd; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 24px; } }
    section.hero > .container > .hero-img {
      width: 100%;
      height: 600px;
      background: url("../images/Home-Page/hero-img.webp") no-repeat center center;
      background-size: cover;
      border-radius: 16px;
      position: relative; }
      section.hero > .container > .hero-img:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: #161616;
        opacity: 0.7; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-img {
          height: 400px; } }

section.stats {
  background-color: #161616;
  color: #f2f2f2; }
  section.stats > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 180px));
    gap: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 769px) {
      section.stats > .container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    section.stats > .container > div {
      font-size: 1.2rem;
      font-weight: 300; }
      @media (max-width: 769px) {
        section.stats > .container > div {
          text-align: center; } }
      section.stats > .container > div > span {
        font-size: 2.9rem;
        font-weight: 600;
        display: block; }

section.tetimonials {
  color: #f2f2f2;
  background-color: #323232; }
  @media (max-width: 996px) {
    section.tetimonials {
      font-size: 12px; } }
  section.tetimonials > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px; }
    @media (max-width: 996px) {
      section.tetimonials > .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: fle-start;
            -ms-flex-pack: fle-start;
                justify-content: fle-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 32px; } }
    section.tetimonials > .container > .text {
      max-width: 700px; }
      @media (max-width: 996px) {
        section.tetimonials > .container > .text {
          text-align: center; } }
      section.tetimonials > .container > .text > .title {
        color: darkgray;
        font-weight: 300;
        font-style: italic;
        font-size: 1.44em; }
      section.tetimonials > .container > .text > p {
        font-weight: 500;
        font-size: 2.078em;
        line-height: 1.2;
        margin: 16px 0px;
        text-transform: capitalize; }
    section.tetimonials > .container > img {
      border-radius: 50%;
      max-width: 200px;
      aspect-ratio: 1/1; }

section.services {
  background-color: #161616;
  color: #f2f2f2; }
  @media (max-width: 996px) {
    section.services {
      font-size: 12px; } }
  section.services > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px; }
    section.services > .container > .services {
      padding: 16px 0px 48px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      gap: 48px;
      margin-top: 16px;
      width: 100%;
      font-size: 1.78em;
      font-weight: 300;
      position: relative; }
      @media (max-width: 769px) {
        section.services > .container > .services {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      section.services > .container > .services:after {
        content: "";
        opacity: 0.4;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: #f2f2f2; }
      section.services > .container > .services > div {
        width: calc((100% - 48px * 2) / 3);
        padding: 8px 0px;
        position: relative;
        -webkit-transition: 0.7s ease-in-out padding;
        transition: 0.7s ease-in-out padding; }
        @media (max-width: 769px) {
          section.services > .container > .services > div {
            width: 100%; } }
        section.services > .container > .services > div > i {
          margin-right: 8px; }
        section.services > .container > .services > div:after {
          font-family: "Font Awesome 6 Free";
          content: "\f061";
          font-weight: 900;
          font-size: 12px;
          position: absolute;
          right: 20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: 0.7s ease-in-out transform;
          transition: 0.7s ease-in-out transform; }
        section.services > .container > .services > div:hover {
          padding: 8px 16px; }
        section.services > .container > .services > div:hover:after {
          -webkit-transform: translate(-16px, -50%);
                  transform: translate(-16px, -50%); }
    section.services > .container > span {
      color: darkgray;
      font-weight: 300;
      font-style: italic;
      font-size: 1.44em; }

section.my-work {
  background-color: #161616;
  color: #f2f2f2; }
  @media (max-width: 996px) {
    section.my-work {
      font-size: 12px; } }
  section.my-work > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 64px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0px; }
    section.my-work > .container > span {
      color: darkgray;
      font-weight: 300;
      font-style: italic;
      font-size: 1.44em; }
    section.my-work > .container > .projects {
      margin: 24px 0px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
      grid-gap: 32px; }
      section.my-work > .container > .projects > div {
        height: 300px;
        background-color: #f2f2f2;
        border-radius: 16px;
        opacity: 0.8;
        cursor: pointer;
        position: relative;
        z-index: 1;
        -webkit-transition: 0.7s ease-in-out opacity;
        transition: 0.7s ease-in-out opacity; }
        section.my-work > .container > .projects > div:hover {
          opacity: 0.3; }
      section.my-work > .container > .projects > div:nth-child(1) {
        background: url("../images/Home-Page/project-1.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(2) {
        background: url("../images/Home-Page/project-2.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(3) {
        background: url("../images/Home-Page/project-3.webp") no-repeat center center;
        background-size: cover; }
      section.my-work > .container > .projects > div:nth-child(4) {
        background: url("../images/Home-Page/project-4.webp") no-repeat center center;
        background-size: cover; }
    section.my-work > .container > a {
      font-size: 1rem;
      -ms-flex-item-align: center;
          align-self: center; }
      section.my-work > .container > a > i {
        margin-top: 16px;
        margin-left: 8px; }

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px; }

*:focus {
  outline: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark); }
