header {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%; }
  header > .container {
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px; }
    header > .container > nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 48px;
      font-weight: 300;
      font-size: 1em; }
      @media (max-width: 569px) {
        header > .container > nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 16px; } }
      header > .container > nav > a {
        position: relative;
        padding: 16px 0px; }
        header > .container > nav > a:hover:after {
          width: 100%; }
        header > .container > nav > a:after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          background-color: #f2f2f2;
          -webkit-transition: 0.4s ease width;
          transition: 0.4s ease width; }
    header > .container > .logo {
      font-size: 1.2em;
      font-weight: 500; }
  @media (max-width: 569px) {
    header {
      font-size: 12px; } }

section.hero {
  background-color: #161616;
  color: #f2f2f2;
  width: 100%;
  padding: 48px 0px;
  min-height: calc(100vh - 56px); }
  @media (max-width: 569px) {
    section.hero {
      min-height: calc(100vh - 50px); } }
  section.hero > .container {
    width: 100%;
    margin: auto;
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px; }
    section.hero > .container > .hero-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
      section.hero > .container > .hero-text > .main-text > span {
        font-weight: 300; }
        section.hero > .container > .hero-text > .main-text > span > i {
          margin-right: 8px; }
      section.hero > .container > .hero-text > .main-text > h1 {
        margin-top: 16px;
        font-weight: 500;
        font-size: 2.988em;
        text-transform: uppercase; }
        @media (max-width: 992px) {
          section.hero > .container > .hero-text > .main-text > h1 {
            font-size: 2.48rem; } }
      section.hero > .container > .hero-text > .about-me {
        max-width: 500px;
        text-transform: capitalize;
        -ms-flex-item-align: end;
            align-self: flex-end;
        text-align: right;
        font-weight: 300;
        color: #ddd; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 24px; } }
    section.hero > .container > .hero-img {
      width: 100%;
      height: 600px;
      background: url("../images/Home-Page/hero-img.webp") no-repeat center center;
      background-size: cover;
      border-radius: 16px;
      position: relative; }
      section.hero > .container > .hero-img:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: #161616;
        opacity: 0.7; }
      @media (max-width: 992px) {
        section.hero > .container > .hero-img {
          height: 400px; } }

section.stats {
  background-color: #161616;
  color: #f2f2f2; }
  section.stats > .container {
    margin: auto;
    padding: 0px 32px;
    padding: 32px 64px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 180px));
    gap: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 769px) {
      section.stats > .container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    section.stats > .container > div {
      font-size: 1.2rem;
      font-weight: 300; }
      @media (max-width: 769px) {
        section.stats > .container > div {
          text-align: center; } }
      section.stats > .container > div > span {
        font-size: 2.9rem;
        font-weight: 600;
        display: block; }

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px; }

*:focus {
  outline: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark); }
