@import "mixins";

$main-color: #161616; // This Is Main Color
$second-color: #323232; // This Is Second Color
$white: #f2f2f2;

// Start The Header
header {
	background-color: $main-color;
	color: $white;
	width: 100%;

	> .container {
		@include container;
		@include fb(row, space-between, center, 8px);

		> nav {
			@include fb(row, flex-end, center, 48px);
			font-weight: 300;
			font-size: 1em;

			@media (max-width: 569px) {
				@include fb(row, flex-end, center, 16px);
			}

			> a {
				position: relative;
				padding: 16px 0px;

				&:hover:after {
					width: 100%;
				}

				&:after {
					content: "";
					width: 0%;
					height: 2px;
					position: absolute;
					bottom: 0px;
					left: 50%;
					transform: translateX(-50%);
					background-color: $white;
					transition: 0.4s ease width;
				}
			}
		}

		> .logo {
			font-size: 1.2em;
			font-weight: 500;
		}
	}

	@media (max-width: 569px) {
		font-size: 12px;
	}
}
// End The Header

// Start The Hero Section
section.hero {
	background-color: $main-color;
	color: $white;
	width: 100%;
	padding-top: 48px;
	min-height: calc(100vh - 56px);

	@media (max-width: 569px) {
		min-height: calc(100vh - 50px);
	}

	> .container {
		width: 100%;
		@include container;
		@include fb(column, flex-start, center, 24px);

		> .hero-text {
			@include fb(row, space-between, center, 16px);

			> .main-text {

				> span {
					font-weight: 300;

					> i {
						margin-right: 8px;
					}
				}

				> h1 {
					margin-top: 16px;
					font-weight: 500;
					font-size: 2.988em;
					text-transform: uppercase;

					@media (max-width: 992px) {
						font-size: 2.48rem;
					}

				}
			}

			> .about-me {
				max-width: 500px;
				text-transform: capitalize;
				align-self: flex-end;
				text-align: right;
				font-weight: 300;
				color: #ddd;
			}

			@media (max-width: 992px) {
				@include fb(column, flex-start, center, 24px)
			}

		}

		> .hero-img {
			width: 100%;
			height: 600px;
			background: url("../images/Home-Page/hero-img.webp") no-repeat center center;
			background-size: cover;
			border-radius: 16px;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				background-color: $main-color;
				opacity: 0.7;
			}

			@media (max-width: 992px) {
				height: 400px;
			}
		}
	}
}
// End The Hero Section

// Start The Stats Section
section.stats {
	background-color: $main-color;
	color: $white;

	> .container {
		@include container;
		padding: 64px 64px;
		@include gtc(180px, 48px);
		justify-content: space-between;

		@media (max-width: 769px) {
			justify-content: center;
		}

		> div {
			font-size: 1.2rem;
			font-weight: 300;

			@media (max-width: 769px) {
				text-align: center;
			}

			> span {
				font-size: 2.9rem;
				font-weight: 600;
				display: block;
			}
		}
	}
}
// End The Stats Section

// Start The Testimonials
section.tetimonials {
	color: $white;
	background-color: $second-color;

	@media (max-width: 996px) {
		font-size: 12px;
	}

	> .container {
		@include container;
		padding: 64px 32px;
		@include fb(row, space-between, center, 64px);

		@media (max-width: 996px) {
			flex-wrap: wrap;
			@include fb(column-reverse, fle-start, center, 32px)
		}

		> .text {
			max-width: 700px;

			@media (max-width: 996px) {
				text-align: center;
			}

			> .title {
				color: darkgray;
				font-weight: 300;
				font-style: italic;
				font-size: 1.44em;
			}

			> p {
				font-weight: 500;
				font-size: 2.078em;
				line-height: 1.2;
				margin: 16px 0px;
				text-transform: capitalize;
			}
		}

		> img {
			border-radius: 50%;
			max-width: 200px;
			aspect-ratio: 1/1;
		}
	}
}
// End The Testimonials

// Start The Services Section
section.services {
	background-color: $main-color;
	color: $white;

	@media (max-width: 996px) {
		font-size: 12px;
	}

	> .container {
		@include container;
		padding: 64px 32px;

		> .services {
			 padding: 16px 0px 48px 0px;
			 @include fb(row, flex-start, stretch, 48px);
			 margin-top: 16px;
			 width: 100%;
			 font-size: 1.78em;
			 font-weight: 300;
			 position: relative;

			 @media (max-width: 769px) {
			 	flex-wrap: wrap;
			 }

			&:after {
				content: "";
				opacity: 0.4;
				height: 1px;
				width: 100%;
				position: absolute;
				bottom: 0px;
				left: 0px;
				background-color: $white;
			}

			 > div {
			 	width: calc((100% - 48px * 2) / 3);
			 	padding: 8px 0px;
			 	position: relative;
			 	transition: 0.7s ease-in-out padding;

			 	@media (max-width: 769px) {
			 		width: 100%;
			 	}

			 	> i {
			 		margin-right: 8px;
			 	}

			 	&:after {
			 		font-family: "Font Awesome 6 Free";
			 		content: "\f061";
				    font-weight: 900;
				    font-size: 12px;
				    position: absolute;
				    right: 20px;
				    top: 50%;
				    transform: translateY(-50%);
				    transition: 0.7s ease-in-out transform;
			 	}

			 	&:hover {
			 		padding: 8px 16px;
			 	}

			 	&:hover:after {
			 		transform: translate(-16px, -50%);
			 	}
			 }
		}

		> span {
			color: darkgray;
			font-weight: 300;
			font-style: italic;
			font-size: 1.44em;
		}
	}
}
// End The Services Section

// Start My Work Section
section.my-work {
	background-color: $main-color;
	color: $white;

	@media (max-width: 996px) {
		font-size: 12px;
	}

	> .container {
		@include container;
		padding: 64px 32px;
		@include fb(column, flex-start, stretch, 0px);

		> span {
			color: darkgray;
			font-weight: 300;
			font-style: italic;
			font-size: 1.44em;
		}

		> .projects {
			margin: 24px 0px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
			grid-gap: 32px;

			> div {
				height: 300px;
				background-color: $white;
				border-radius: 16px;
				opacity: 0.8;
				cursor: pointer;
				position: relative;
				z-index: 1;
				transition: 0.7s ease-in-out opacity;

				&:hover {
					opacity: 0.3;
				}

			}

			@for $i from 1 through 4 {
				> div:nth-child(#{$i}) {
					background: url("../images/Home-Page/project-#{$i}.webp") no-repeat 
					center center;
					background-size: cover;
				}
			}
		}

		> a {
			font-size: 1rem;
			align-self: center;

			> i {
				margin-top: 16px;
				margin-left: 8px;
			}
		}
	}

}
// End My Work Section